.body{
  background-color: #000000;
}

.header_text_1 {
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
}

.header_text_2 {
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: cadetblue;
}

.header_text_3 {
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.button_container {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  margin-top: 12px;
  justify-content: space-around;
}

.cv {
  font-size: 30px;
  border-style: solid;
  border-color: beige;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;

  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 30%;
  margin-right: 0%;
  justify-content: space-around;
}

.contact {
  font-size: 30px;
  border-style: solid;
  border-color: beige;
  background-color: navy;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 0%;
  margin-right: 30%;
  justify-content: space-around;
}

.photo_container {
  display: flex;
  margin-top: 0px;
  justify-content: center;

}

.photo {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  max-width: 70%;
}

.about_me{
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
}




